body {
    margin: 0px;
    background-color: #333333;
}

#app {
    max-width: 60em;
    margin: auto;
}

.app01 {
    background: linear-gradient(to bottom right, #eeeeee, #555555);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3);
    padding: 20px 0px;
}

.boxShadow {
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.3);
    margin: 15px;
    padding: 15px;
}

.blue-shadow{
    border: solid #aaeeff;
    box-shadow: 0 8px 16px #71b7ee;
}

.blackField {
    background: linear-gradient(to bottom right, #333333, #111111);
    color: #eeeeee;
    text-align: center;
}

.silver-field {
    background: linear-gradient(to bottom right, #eeeeee, #dddddd);
    color: #333333;
    text-align: center;
}

.boxHover {
    transition: all 0.3s ease-in-out;
}

.boxHover:hover {
    transform: scale(1.1);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.6);
}

.block {
    width: 10em;
    height: 8em;
}

.inline-flex-center {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
}

